* {
  box-sizing: border-box;
}

h1 { 
  color: #f2e312;
  text-align: right;
  font-family: cursive, dingbats;
  text-shadow: 0cqi;
  padding: 6cap;
  font-size : 32px;
}

h2 { 
  color: #e0ded7;
  text-align: center;
  padding-left: 100px;
}

#fname {
  text-decoration: underline;
  text-size-adjust :11px;
}

#lname {
  color: #524d07;
  text-align: left;
  font-family: cursive;
  text-shadow: 0cqi;
  padding: 0cap;
  font-size : 32px;
}

#uname {
  color: #524d07;
  text-align: right;
  font-family: dingbats;
  text-shadow: 0cqi;
  padding: 0cap;
  font-size : 32px;
}

#random-btn {
  color: #524d07;
  text-align: left;
  font-family: cursive;
  text-shadow: 0cqi;
  padding: 0cap;
  font-size : 32px;
}

#text {
  color: #524d07;
  text-align: left;
  font-family: Impact;
  text-shadow: 0cqi;
  padding: 0cap;
  font-size : 32px;
}

#signup-btn {
  color: #524d07;
  text-align: left;
  font-family: cursive;
  font-family: dingbats;
  text-shadow: 0cqi;
  padding: 0cap;
  font-size : 32px;
}

#fname-req {
  text-size: 10px;
  color: #e0ded7;
}

#random-btn {
  color: red;
  background-color: green;
}
span {
  display: inline;
  background: #fde68a;
}
div {
  display: block;
  background: #bfdbfe;
  margin-top: 8px;
}
