* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

h1 { 
  color: #524d07;
  text-align: left;
  font-family: cursive;
  font-family: dingbats;
  text-shadow: 0cqi;
  padding: 0cap;
  font-size : 32px;
}

h2 { 
  colour: e0ded7;
}

fname {
  text-decoration: underline;
}

fname-req {

p {
  font-size : 22px;

}
#random-btn {
  color: red;
  background-color: green;
}
span {
  display: inline;
  background: #fde68a;
}
div {
  display: block;
  background: #bfdbfe;
  margin-top: 8px;
}








  
