* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

h1 { 
  color: #524d07;
  text-align: left;
  font-family: cursive;
  font-family: dingbats;
  text-shadow: 0cqi;
  padding: 0cap;
  font-size : 32px;
}

h2 { 
  colour: #e0ded7;
}

fname {
  text-decoration: underline;
  text-size :11px;
}

lname {
  color: #524d07;
  text-align: left;
  font-family: cursive;
  font-family: dingbats;
  text-shadow: 0cqi;
  padding: 0cap;
  font-size : 32px;
}

uname {
  color: #524d07;
  text-align: left;
  font-family: cursive;
  font-family: dingbats;
  text-shadow: 0cqi;
  padding: 0cap;
  font-size : 32px;
}

random-btn {
  color: #524d07;
  text-align: left;
  font-family: cursive;
  font-family: dingbats;
  text-shadow: 0cqi;
  padding: 0cap;
  font-size : 32px;
}

text {
  color: #524d07;
  text-align: left;
  font-family: cursive;
  font-family: dingbats;
  text-shadow: 0cqi;
  padding: 0cap;
  font-size : 32px;
}

signup-btn {
  color: #524d07;
  text-align: left;
  font-family: cursive;
  font-family: dingbats;
  text-shadow: 0cqi;
  padding: 0cap;
  font-size : 32px;
}

fname-req {
  text-size: 10px;
  color: #e0ded7

p {
  font-size : 22px;

}
#random-btn {
  color: red;
  background-color: green;
}
span {
  display: inline;
  background: #fde68a;
}
div {
  display: block;
  background: #bfdbfe;
  margin-top: 8px;
}








  
