* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

h1 { 
  color: #524d07;
  text-align: left;
  font-family: cursive;
  font-family: dingbats;
  text-shadow: 0cqi;
  padding: 0cap;
  font-size : 32px;
}

h2 { 
  colour: e0ded7;
}

p {
  font-size : 22px;

}









  
