* {
  box-sizing: border-box;
  div {
  width: 300px;
  border: 15px solid green;
  padding: 50px;
  margin: 20px;
      }
  
  }
body {
  background-color: #e5e5f7;
  background-image:  repeating-linear-gradient(45deg, #444cf7 25%, transparent 25%, transparent 75%, #444cf7 75%, #444cf7), repeating-linear-gradient(45deg, #444cf7 25%, #e5e5f7 25%, #e5e5f7 75%, #444cf7 75%, #444cf7);
  background-position: 0 0, 10px 10px;
  background-size: 20px 20px;
  width: 6000px;
  overflow-x: auto;
}

h1 { 
  color: #f2e312;
  background: white;
  text-align: right;
  font-family: cursive, dingbats;
  text-shadow: 0cqi;
  padding: 6cap;
  font-size : 32px;
}

h2 { 
  color: red;
  text-align: center;
  padding-left: 100px;
  background: white;
}

#fname {
  text-decoration: underline;
  text-size-adjust :11px;
  width: 3000px;
  text-align: right;
}

#fname-req {
  font-size: 10px;
  font-famiy: wingding;
  color: #c4126b;
  padding : 2cap;
}

#lname {
  color: #524d07;
  text-align: left;
  font-family: cursive;
  text-shadow: 0cqi;
  padding: 0cap;
  font-size : 32px;
}

#lname-req {
  font-size: 10px;
  font-famiy: times new roman;
  color: #c4126b;
}

#uname {
  color: #524d07;
  text-align: right;
  font-family: dingbats;
  text-shadow: 0cqi;
  padding: 0cap;
  font-size : 32px;
}

text {
  font-size: 6px;
  font-famiy: calibri;
  color: #c4126b;
}

#random-btn {
  color: #524d07;
  text-align: left;
  font-family: cursive;
  text-shadow: 0cqi;
  padding: 0cap;
  font-size : 32px;
  color: red;
  background-color: green;
}

#text {
  color: red;
  text-align: left;
  font-family: Impact;
  text-shadow: 0cqi;
  padding: 0cap;
  font-size : 32px;
}

#signup-btn {
  color: #524d07;
  text-align: left;
  font-family: cursive;
  font-family: dingbats;
  text-shadow: 0cqi;
  padding: 0cap;
  font-size : 32px;
}

span {
  display: inline;
  background: #fde68a;
}
div {
  display: block;
  background: #bfdbfe;
  margin-top: 8px;
}
img {
  display: block;
  height: 450px;
  width: auto;
  left: 50%;
  transition: transform 0.3s ease;
}
#ad-2, #ad-3, #ad-5 {
  height: 250px;
  width: auto;
}
img:hover {
  transform: scale(1.15);
}
input {
   transition: transform 0.6s ease;
}
input:hover {
   transform: rotate(360deg);
}
